{{#each sidebars}}
  <li class="search-result search-sidebars-result clearfix" data-sidebar-id="{{id}}">
    <div class="search-result-action-wrapper left cell">
      <div class="btn-group">
        <button class="search-sidebar-overwrite btn btn-mini btn-warning">
          <i class="icon-mail-forward"></i> {{t 'Copy'}}
        </button>
        <button class="search-sidebar-actions-toggle btn btn-mini btn-warning dropdown-toggle">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="#" class="search-sidebar-overwrite">
              <i class="icon-mail-forward"></i> {{t 'Copy whole sidebar'}}
            </a>
          </li>
          <li>
            <a href="#" class="search-sidebar-add-all">
              <i class="icon-arrow-right"></i> {{t 'Add all links'}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="search-result-info cell">
      {{#if name}}
        <h4 class="search-result-title">{{name}}</h4>
      {{/if}}
      {{#if description}}
        <p class="search-result-description">{{description}}</p>
      {{/if}}

      <ul class="search-sidebar-content">
        {{#each links.previous}}
          <li class="search-sidebar-content-item">
            <a class="search-sidebar-link" href="{{native_url}}">
              <i class="icon-eye-open"></i> <span class="search-sidebar-link-title">{{title}}</span>
            </a>

            <button class="search-sidebar-add-single btn btn-mini" title="{{t 'Add link'}}">
              <i class="icon-arrow-right"></i>
            </button>
          </li>
        {{/each}}
      </ul>
      <div class="search-sidebar-links-toggles hidden">
        <button class="search-sidebar-links-expand search-sidebar-links-toggle hidden btn btn-mini btn-info">
          <i class="icon-caret-down"></i> {{t 'Expand'}}
        </button>
        <button class="search-sidebar-links-collapse search-sidebar-links-toggle hidden btn btn-mini btn-info">
          <i class="icon-caret-up"></i> {{t 'Colapse'}}
        </button>
      </div>
    </div>
    <div class="search-result-action-wrapper right cell">
      <div class="btn-group">
        <button class="search-sidebar-overwrite btn btn-mini btn-warning">
          <i class="icon-mail-forward"></i> {{t 'Copy'}}
        </button>
        <button class="search-sidebar-actions-toggle btn btn-mini btn-warning dropdown-toggle">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="#" class="search-sidebar-overwrite">
              <i class="icon-mail-forward"></i> {{t 'Copy whole sidebar'}}
            </a>
          </li>
          <li>
            <a href="#" class="search-sidebar-add-all">
              <i class="icon-arrow-right"></i> {{t 'Add all links'}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </li>
{{/each}}