{{#each links}}
  <li class="section-link clearfix" data-url="{{native_url}}" data-id="{{id}}">
    <div class="handle"></div>
    <a href="javascript:" class="remove-link" title="{{t 'Remove the link'}}">
      <i class="icon-trash"></i>
    </a>
    <a href="{{native_url}}" class="test-link" title="{{t 'Preview'}}">
      <i class="icon-eye-open"></i>
    </a>

    <div class="link-title">
      <textarea class="link-title-editor{{#if pending}} hidden{{/if}}">{{title}}</textarea>
      {{#if pending}}
        <div class="link-progress-indicator"></div>
      {{/if}}
    </div>
  </li>
{{/each}}