<div class="container-fluid sidebar-pane sidebar-content-editor">
  <div class="row-fluid">
    <div class="span8">
      {{> inputFields}}
      {{> searchTabs}}
      <div class="search-output"></div>
      {{> searchPager}}
    </div>
    <div class="span4 sidebar-right">
      <div class="sidebar-settings">
        <div class="control-group">
          <input class="sidebar-title" type="text" placeholder="{{t 'Sidebar title'}}" value="{{sidebar.name}}">
        </div>
        <div class="control-group">
          <textarea class="sidebar-description" placeholder="{{t 'Sidebar description'}}">{{sidebar.description}}</textarea>
        </div>
        <div class="control-group">
          <div class="btn-group input-prepend sidebar-layout">
            <span class="add-on">{{t 'Layout:'}}</span>
            <button class="btn sidebar-layout-switch" data-layout="left">
              {{t 'Left'}}
            </button>
            <button class="btn sidebar-layout-switch" data-layout="wide">
              {{t 'Wide'}}
            </button>
            <button class="btn sidebar-layout-switch" data-layout="right">
              {{t 'Right'}}
            </button>
          </div>
        </div>
      </div>

      <div class="sidebar-result hidden">
        <h3 class="widget-title">{{t 'Result:'}}</h3>

        <ul class="section-links"></ul>
      </div>

      <div class="dialog-actions">
        <button class="dialog-action action-remove btn btn-danger"
                title="{{t 'Remove the sidebar'}}">
          <i class="icon-trash"></i> {{t 'Remove'}}
        </button>
        <button class="dialog-action action-cancel btn btn-warning"
                title="{{t 'Reset all changes'}}">
          <i class="icon-remove"></i> {{t 'Cancel'}}
        </button>
        <button class="dialog-action action-save btn btn-success"
                title="{{t 'Save the sidebar'}}">
          <i class="icon-ok"></i> {{t 'Save'}}
        </button>
      </div>
    </div>
  </div>
</div>