<div class="container-fluid contextly-editor">
  <div class="row-fluid">
    <div class="span8">
      {{> inputFields}}
      {{> searchTabs}}
      <div class="search-output"></div>
      {{> searchPager}}
    </div>
    <div class="span4 sidebar-right">
      <div class="snippet-result hidden">
        <h3 class="widget-title">{{t 'Result:'}}</h3>
        <div class="sections"></div>
      </div>
      <div class="dialog-actions">
        <button class="dialog-action action-remove btn btn-danger"
                title="{{t 'Remove the widget'}}">
          <i class="icon-trash"></i> {{t 'Remove'}}
        </button>
        <button class="dialog-action action-cancel btn btn-warning"
                title="{{t 'Reset all changes'}}">
          <i class="icon-remove"></i> {{t 'Cancel'}}
        </button>
        <button class="dialog-action action-save btn btn-success"
                title="{{t 'Save the widget'}}">
          <i class="icon-ok"></i> {{t 'Save'}}
        </button>
      </div>
    </div>
  </div>
</div>
